:root {
  --background: #111729;
  --darker: #111729;
  --lighter-transparent: #4e80ee33;
  --lighter: #364153;
  --blue: #3662E3;
  --white: #F2F5F9;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
}

main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-header {
  margin: 100px auto;
  width: 60vw;
  padding: 2em;
  border-radius: 10px;
  font-size: 4em;
  font-weight: bold;
  background: var(--blue);
  color: var(--white);
}

h1 {
  text-align: center;
  color: var(--blue)
}

header {
  display: flex;
  width: 100vw;
  justify-content: center;
}

header ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

header ul a {
  text-decoration: none;
  color: var(--blue);
}

.login-button {
    background: var(--blue);
    color: var(--white);
    border-radius: 10px;
    padding: 0.5em;
    position: absolute;
    top: 1em;
    right: 1em;
}
.login-button:hover {
    border: 1px solid var(--white);
}

ul {
    color: var(--white);
    margin: 1em;
}
ul button {
    margin-left: 1em;
}